


.hero {
  background: #000000;
  background-image: radial-gradient(85.9% 85.9% at 50% 14.1%, rgba(41, 48, 61, 0.0001) 0%, #071629 100%), url("assets/first.jpg");
  background-size: cover;
  background-position: center ;
  width: 100%;
  height: 1093px;
  color: white;
}

.header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 35.02px;
    padding-left: 160.59px;
    padding-right: 160.59px;

}

.log{
    display: flex;
    gap: 10px;
    width: 167.01577758789062;
    height: 29.46099090576172;
    padding-top: 35.02px;
    padding-left: 171.59px;
    opacity: 1;

}

.link-wrapper{
    display: flex;
    gap: 40px;
    transform: translateY(50px);
}

.link{

    text-decoration: none;
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    color: white;
    font-size: 20px;

}

.baner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.baner h1{
    width: 684px;
    height: 151 px;
    padding-top: 70px;
    padding-left: 100px;
    opacity: 1;
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 120px;
    line-height: 100%;
    letter-spacing: 0px;

}

.banner-text{
    display: flex;
    gap: 60px;
    transform: translateY(-70px);
}
.banner-text p{
    width: 52px;
    height: 20px;
    
    padding-left: 50px;
    opacity: 1;
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;

}

 .baner button{
    box-shadow: 0px 2px 20px 0px #00000080; 
    padding: 10px;
    color: white;
    background-color: #C271FF;
    border-radius: 20px;
 }

 .list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
 }

 .list h2{
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;

 }

 .list-a{
    display: flex;
    flex-direction: raw;
    gap: 40px;
 }

 .list img{
    border-radius:100%;
 }

 .testmony{
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
 }

 .testmony img{
    width: 160px;
    height: 160px;
    padding: 20px;
    opacity: 1;
    border-radius: 100%;


 }


 .test{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
 }

 .test blockquote{
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 22px;
    
    line-height: 33.6px;
    letter-spacing: 0px;

 }

 .test p cite{
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 22px;
    line-height: 33.6px;
    letter-spacing: 0px;

 }

 .test p{
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 22px;
    line-height: 33.6px;
    letter-spacing: 0px;

 }

 .tutorials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: white;
    width: 100%;
    height: 700px;
    
    
 }

 .video{
    padding-top: 30px;
    display: flex;
    gap: 160px;

 }

 .tutorials h1{
    font-family: Source Sans Pro;
    font-weight: 300;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;

 }

 .rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stars {
  display: flex;
  gap: 4px;
  color: #C271FF; 
}

.duration {
  color: #C271FF;
  font-weight: 700;
}

.comment{
    display: flex;
    justify-content: space-between;
}

.icon {
  position: relative;
  display: inline-block;
}



.icon-a {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 5px;
  transform: translateX(40px);
  transform: translateY(30px);
  background-color: white;
}

.membership{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 60px;
    padding-bottom: 60px;

}

.member{
    display: flex;
    justify-content: center;
    align-items: center ;
    gap: 60px;
    color: white;
}

.title{
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;

}

.head{
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;

}

.box{
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    border-radius: 50px;
    padding: 20px;
    background-color: #C271FF;

}


.final{
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
}

.master{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.semi{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.semi p{
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;

}

.semi h2{
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;

}

.master h1{
    transform: translateX(-40px);
    padding-bottom: 30px;
    font-family: Source Sans Pro;
    font-weight: 300;
    font-size: 60px;
    
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;

}

.footer{
    background-color: black;
    color: white;
    width:100%;
    height:249px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.footer-1{
    display: flex;
    justify-content: space-between;
}
    
.last{
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    color: gray;

}
