body  {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto ;
    width: 100%;
}

header {
     width: 100%; 
}

article {
    flex: 2;
    overflow-y: auto;  

}

aside {
    flex: 1;
     overflow-y: auto 
}

footer{
    width: 100%; 
}